<%= form_with(model: all_beer, local: true) do |form| %>
  <% if all_beer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(all_beer.errors.count, "error") %> prohibited this all_beer from being saved:</h2>

      <ul>
      <% all_beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :categories %>
    <%= form.text_field :categories %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :postalCode %>
    <%= form.number_field :postalCode %>
  </div>

  <div class="field">
    <%= form.label :province %>
    <%= form.text_field :province %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :websites %>
    <%= form.text_field :websites %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
