<p id="notice"><%= notice %></p>

<h1>All Beers</h1>

 <div id="container" style="width:100%;height:800px;"></div>

 <script type="text/javascript">
 $(function () {
 var myChart = Highcharts.chart('container',{
 chart: {
 type: 'bar'
 },
 title: {
 text: 'Amount of breweries per category'
 },
 xAxis: {
 categories: <%= raw @all_categories %>
 },
 yAxis: {
 title: {
 text: 'Amount of breweries'
 }
 },
 series: [{
 name: 'Amount in Category',
 data: <%=raw @amount %>
}]
 });
 });
 </script>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Address</th>
      <th>Categories</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Postalcode</th>
      <th>Province</th>
      <th>Twitter</th>
      <th>Websites</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_beers.each do |all_beer| %>
      <tr>
        <td><%= all_beer.name %></td>
        <td><%= all_beer.city %></td>
        <td><%= all_beer.address %></td>
        <td><%= all_beer.categories %></td>
        <td><%= all_beer.latitude %></td>
        <td><%= all_beer.longitude %></td>
        <td><%= all_beer.postalCode %></td>
        <td><%= all_beer.province %></td>
        <td><%= all_beer.twitter %></td>
        <td><%= all_beer.websites %></td>
        <td><%= link_to 'Show', all_beer %></td>
        <td><%= link_to 'Edit', edit_all_beer_path(all_beer) %></td>
        <td><%= link_to 'Destroy', all_beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New All Beer', new_all_beer_path %>
