<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :all_beer_id %>
    <%= form.collection_select(:all_beer_id, @all_beers, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.collection_select(:customer_id, @customers, :id, :last_name) %>
  </div>

  <div class="field">
    <%= form.label :amount_of_people %>
    <%= form.number_field :amount_of_people %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_select :time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
