<%= image_tag("banner.jpg", :alt =>"Beers just for you") %>
<p><%= link_to 'Home', beer_index_path %> | <%=link_to 'All breweries', all_beers_path %> | <%=link_to 'Brewed beers', brewed_beers_path %> | <%=link_to 'Customers', customers_path %> | <%=link_to 'Addresses', addresses_path %></p>
